<div class= "container">
<h1 class="display-3">Hello Everyone<h1><br>
<p class="display-3">This is website help you to rent the farms in Sadia Arabia </p><br>
<%= link_to 'ENTER HERE', new_user_session_path(@farm)%>
</div>